<h1>Listing donations</h1>

<table>
  <tr>
    <th>Donor</th>
    <th>Donation amount</th>
    <th>Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @donations.each do |donation| %>
  <tr>
    <td><%= donation.donor.name%></td>
    <td><%= donation.donation_amount %></td>
    <td><%= donation.date %></td>

    <td><%= link_to 'Show', donation %></td>
    <td><%= link_to 'Edit', edit_donation_path(donation) %></td>
    <td><%= link_to 'Destroy', donation, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
<br />
<p>Total Donation Amount <%= Donation.sum(:donation_amount)%></p>
<%= link_to 'New Donation', new_donation_path %>
