<p id="notice"><%= notice %></p>

<p>
  <b>Donor:</b>
  <%= @donation.donor_id %>
</p>

<p>
  <b>Donation amount:</b>
  <%= @donation.donation_amount %>
</p>

<p>
  <b>Date:</b>
  <%= @donation.date %>
</p>


<%= link_to 'Edit', edit_donation_path(@donation) %> |
<%= link_to 'Back', donations_path %>
